<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <form action="/register" method="post">
    <label for="firstName">First Name</label>
    <input name="firstName" id="firstName" type="text">

    <label for="lastName">Last Name</label>
    <input name="lastName" id="lastName" type="text">

    <label for="email">Email</label>
    <input name="email" id="email" type="email">

    <label for="password">Password</label>
    <input name="password" id="password" type="password">
    
    <button>Submit</button>
  </form>
</body>
</html>